name: Java Build Test Deploy to S3

on:
  push:
    branches:
      - feature
      - feature/**

permissions:
  contents: write
  pull-requests: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - uses: actions/checkout@v4

      # Setup Java
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      # Build & Test
      - name: Build and Test
        id: tests
        run: mvn clean test
